@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.sidebar {
    background-color: #201c1c;
}

.sidebar-title {
    font-size: 48px;
    color: #fff;
    font-family: "Rubik";
    font-weight: 600;
    text-align: center;
}